body {
  background-color: #26375D;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.TopSection {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.TopSection div {
  background-color: #2E3C67;
  padding: 12px;
}

#Overlay {
  position: absolute;
  left: 20px;
}
